footer
{
    padding-bottom: 34.78px;
}

.contener_footer
{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 85px;
    padding-left: 30px;
    padding-right: 30px;
}

.block_footer_top
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img__logo
{
    padding-bottom: 15.04px;
    display: flex;
}

.text_funking
{
    padding-bottom: 25px;
    color: #555;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 318px;
}

.social
{
    display: flex;
    gap: 35px;
}

.facebook
{
    width: 12px;
}

.twitter
{
    width: 25px;
}

.instagram
{
    width: 25px;
}

.p
{
    width: 25px;
}

.indoor_unit_top_right
{
    display: flex;
    justify-content: space-between;
    width: 682px;
}

.blocks
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blocks_text
{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: left;
    color:  #555555;
}

.links
{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #555555;
}

.indoor_unit_right
{
    display: flex;
}

.text_2021_funking
{
    color: #555;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.block_footer_bottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.information
{
    display: flex;
}

.link_privacy
{
    padding-right: 51px;
}

.link_security
{
    padding-right: 53px;
}

.reference
{
    color: #555;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}