//fonts
$DM_Sans:'DM Sans', sans-serif;
$Mulish:'Mulish', sans-serif;
$Rubik:'Rubik', sans-serif;

//color
$green:#7AC751;
$white:#FFF;
$white_2:#CCC;
$white_3:#F8FAFB;
$grey:#555;
$black:#2F2F2F;
$grey_light:#B0B0B0;
$grey_black:rgba(81, 81, 81, 0.71);
$grey_light_2:#757575;
$grey_light_3:#C2C2C2;
$black_light:#515151;

//size
$green_text: 22px;
$title: 36px;
